body {
  font-size: 15px;
  color: #3f3f44;
  font-weight: 400;
  font-family: "Gothic A1", sans-serif;
  line-height: 30px;
}
#head-cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #2451af;
  color: #fdfdfd;
}

#footer-cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #2451af;
  color: #fdfdfd;
}

a {
  text-decoration: none;
  color: #fdfdfd !important;
}


.avatar {
  width: 200px;
}

ul {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.5px;

  margin: 0px;
}

h1 {
  font-size: 4em;
  justify-content: center;
  font-weight: 500;

  margin: 5px;
}

h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  margin: 0px;
}

section {
  border-top: 3px solid #2451af;
  padding: 10px;
  margin: 0px 10px;
  width: auto;
  min-height: 180px;
  text-align: left;
}
article {
  width: auto;
  text-align: left;
  padding-bottom: 10px;
}

#main-cont {
  display: flex;
  flex-direction: row;
  min-height: auto;
}

p {
  padding: 5px;
}
pre {
  margin: 0px;
  line-height: 17px;
}

.wrapper {
  width: 55%;
  margin: 0 auto;
  height: auto;
  padding: 20px;
  min-width: 400px;
  background-color: white;
}

.left {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.time {
  font-style: normal;
  font-weight: 600;

  line-height: 11px;

  letter-spacing: 0.4px;

  color: #9b9b9b;
}

.sub-title {
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.4px;
  color: #5e5e5e;
}
.right {
  width: 40%;
  display: flex;
  flex-direction: column;
  right: 1px;
  margin: right;
}

#footer {
  color: #fdfdfd;
  background: #2451af;
}


.github-logo{
  width: 40px;
}